html {
	min-width: 1100px;
}

.container {
	width: 100%;
}

.left {
	display: block;
	float: left;
}

.right {
	display: block;
	float: right;
}

#brandLogo {
  padding-top: 10px;
	}
#brandLogo:hover{
  opacity: 0.8;
}
