<div>
	
</div>
<div>
	<table>
		<thead>
			<tr>
				<td>Product</td>
				<td>Quantity</td>
				<td>Sub-Total</td>
			</tr>
		</thead>
		<tr ng-repeat="item in x">
			<td>
				<h1>{{item.name}}</h1>
				<img ng-src="{{item.imageUrl}}">
				<p><b>Caffeine Scale: </b> {{item.caffeineScale}} </p>
				<p><b>Ingredients: </b> {{item.ingredients}} </p>
				<p><b>Rating: </b> {{item.rating}}</p>
			</td>
			<td>
				<!-- {{item.idk}} -->
			</td>
			<td>
				{{item.price*item.quantity}}
			</td>
			<td>
				<button>Edit</button>
				<button>Remove</button>
			</td>
		</tr>
	</table>
</div>