<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div>
				<nav class="row">
					<ul>
						<li>Search by Type</li>
						<select>
							<option ng-repeat="category in categories">{{category}}</option>
						</select>
						<li>Search by Name</li>
						<input type="text" name="query" ng-model="query">
					</ul>
				</nav>
			</div>
			<table class="table-bordered">
				<thead>
					<tr>
						<td>Tea</td>
						<td>
							<span class="left">Information:</span>
							<span class="right">View by Price: 
								<select>
									<option> Least to Greatest </option>
									<option> Greatest to Least </option>
								</select>
							</span>
						</td>
					</tr>
				</thead>
				<tr ng-repeat="item in items | orderBy: name">
					<td> <img ng-src="{{item.imageUrl}}"></td>
					<td> 
						<h1>{{item.name}}</h1>
						<p><b>Price: </b>{{item.price | cents | currency}}</p>
						<p><b>Caffeine Scale: </b>{{item.caffeineScale}}</p>
						<p><b>Ingredients: </b> {{item.ingredients}}</p>
						<p><b>Rating: </b> {{item.rating}}</p>
						<p><b>In Stock?: </b> {{item.inStock}}</p>
						<p><b>Categories: </b> </p>
							<ul>
								<li ng-repeat="category in item.categories">{{category}}</li>
							</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>